GDIArcLabel/GDIArcLabel.xcodeproj/xcuserdata/grantdavis.xcuserdatad/xcschemes/xcschememanagement.plist
GDIArcLabel/GDIArcLabel.xcodeproj/xcuserdata/grantdavis.xcuserdatad/xcschemes/GDIArcLabel.xcscheme
GDIArcLabel/GDIArcLabel.xcodeproj/project.xcworkspace/xcuserdata/grantdavis.xcuserdatad/UserInterfaceState.xcuserstate
GDIArcLabel/GDIArcLabel.xcodeproj/project.xcworkspace/contents.xcworkspacedata